# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=jzoqodzv
CLOUDINARY_API_KEY=767526792535413
CLOUDINARY_API_SECRET=6BREPsPImIm4f3tRPdEMEC0SH1I
CLOUDINARY_URL=cloudinary://767526792535413:6BREPsPImIm4f3tRPdEMEC0SH1I@jzoqodzv

# Server & Database Configuration
PORT=8080
DB_URL=jdbc:postgresql://localhost:5432/smartfinance_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Security / JWT Configuration
JWT_SECRET=SmartFinanceDrivePlatformSecretKeyForJwtTokenGenerationAndValidation2026!
JWT_EXPIRATION_MS=86400000
